/* ==========================================================================
# Title area style - start
========================================================================== */

@include keyframes(title-animation-from-right) {
    0% {
        opacity: 0;
        transform: translate(50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@include keyframes(title-animation-from-left) {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}



.qodef-title{
    display: block;
    width: 100%;
    height: 300px;
    text-align: left;
    position: relative;
    z-index: 101;
    background-color: $first-main-color;
    background-position: center 0;
    background-repeat: no-repeat;


    &.qodef-has-parallax-background{
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        z-index: 101;
    }

    &.qodef-content-center-alignment{
        text-align: center;
    }

    &.qodef-content-right-alignment{
        text-align: right;
    }

    &.qodef-animation-right-left{
        h1,.qodef-subtitle span,.qodef-breadcrumbs-holder{
            @include animation(title-animation-from-right, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275), 1s);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }

    &.qodef-animation-left-right{
        h1,.qodef-subtitle span,.qodef-breadcrumbs-holder{
            @include animation(title-animation-from-left, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275), 1s);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }

    &.qodef-has-responsive-background{
        height: auto !important;

        .qodef-title-holder {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .qodef-title-holder .qodef-container {
            display: block;
            height: 100%;
        }

        .qodef-title-holder .qodef-container-inner {
            display: table;
            height: 100%;
        }

        .qodef-title-holder .qodef-title-subtitle-holder {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

    }


    &.qodef-breadcrumb-type{
        background-color: #f6f6f6;

        .qodef-title-holder {

            .qodef-title-subtitle-holder-inner{
                display:inline-block;
                vertical-align:middle;
                width:100%;
            }

            h1{
                float:left;
                color: #101010;
                font-size:18px;
                vertical-align:middle;
                letter-spacing:-0.5px;
            }

            .qodef-breadcrumbs-holder{
                float:right;
                vertical-align:middle;
            }

            .qodef-breadcrumbs-inner{
                line-height:1em;
            }

            .qodef-breadcrumbs a,
            .qodef-breadcrumbs span {
                color: #777777;
            }

            .qodef-breadcrumbs .qodef-current {
                color: $first-main-color;
            }

            .qodef-breadcrumbs a:hover {
                color: $first-main-color;
            }
        }
    }

    .qodef-title-image {

        img {
            display: block;
            position: relative;
            width: 100%;
        }

    }

    &.qodef-title-image-not-responsive {

        .qodef-title-image{
            display: none;
        }

    }

    .qodef-title-holder {
        display: table;
        height: 100%;
        position: relative;
        width: 100%;

        .qodef-container {
            background-color: transparent;
            display: table-row;
            vertical-align: middle;
        }

        .qodef-container-inner {
            display: table-cell;
            padding: 0 !important;
            vertical-align: middle;
        }

        .qodef-title-subtitle-holder {
            display: block;
            padding: 0;
            position: relative;
            z-index: 25;
        }

        .qodef-title-subtitle-holder-inner {
            position: relative; //because of the breadcrumbs (absolute position) on standard type title
        }

        /* #Standard title - start
        ========================================================================== */

        h1 {
            color: #fff;
            display: inline-block;
            line-height: 1em;
            vertical-align: middle;
            letter-spacing: -3px;
        }

        h1 span{
            display: inline-block;
        }

        .qodef-subtitle{
            display: block;
            font-size: 30px;
            line-height: 1.2em;
            font-style: italic;
            font-weight: 400;
            color: #fff;

            span{
                display: inline-block;
                vertical-align: middle;
            }
        }

        /* #Standard title - end
        ========================================================================== */

        /* #Breadcrumb title - start
        ========================================================================== */

        .qodef-breadcrumbs-holder{
            display: inline-block;
            vertical-align: middle;
        }

        .qodef-breadcrumbs a, .qodef-breadcrumbs span{
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 1em;
            display: inline-block;
            vertical-align: middle;
        }

        .qodef-breadcrumbs .qodef-current{
            color: #fff;
        }

        .qodef-breadcrumbs a:hover{
            color: #fff;
        }

        /* #Breadcrumb title - end
        ========================================================================== */


    }

    &.qodef-standard-type{
        .qodef-breadcrumbs-holder{
            position: absolute;
            top: 0;
            height: 100%;

            .qodef-breadcrumbs {
                display: table;
                height: 100%;
                width: 100%;
            }

            .qodef-breadcrumbs-inner {
                display: table-cell;
                vertical-align: middle;
            }

        }
    }

    &.qodef-standard-type.qodef-content-left-alignment{
        .qodef-breadcrumbs-holder {
            right: 0;
        }
    }

    &.qodef-standard-type.qodef-content-right-alignment{
        .qodef-breadcrumbs-holder {
            left: 0;
        }
    }

    &.qodef-standard-type.qodef-content-center-alignment{
        .qodef-breadcrumbs-holder {
            position: relative;
            top: auto;
            height: auto;
            display: block;
        }
    }
}


/* ==========================================================================
# Title area style - end
========================================================================== */