.qodef-iwt {
    $icon-tiny-content-padding: 60px;
    $icon-small-content-padding: 80px;
    $icon-medium-content-padding: 110px;
    $icon-large-content-padding: 150px;
    $icon-huge-content-padding: 180px;
    $title-margin-bottom: 20px;

    .qodef-iwt-link {
        margin-top: 22px;
        display: inline-block;
        font-size:12px;
        line-height:24px;
        text-transform:uppercase;
        color: $first-main-color;
        letter-spacing:1px;
        text-decoration:underline;
        font-weight:700;

        &:hover{
            color:#909090;
        }

    }

    .qodef-iwt-text-holder{
        p{
            margin:0;
        }
    }
    
    &.qodef-iwt-icon-top {
        text-align: center;

        .qodef-iwt-icon-holder {
            margin-bottom: 35px;
        }
    }

    &.qodef-iwt-icon-left,
    &.qodef-iwt-icon-left-from-title {
        text-align: left;
    }

    &:not(.qodef-iwt-left-from-title) {
        .qodef-iwt-title-holder {
            margin-bottom: 12px;
        }
    }

    &.qodef-iwt-icon-left {
        .qodef-iwt-icon-holder {
            float: left;
        }

        &.qodef-iwt-icon-tiny .qodef-iwt-content-holder {
            padding-left: $icon-tiny-content-padding;
        }

        &.qodef-iwt-icon-small .qodef-iwt-content-holder {
            padding-left: $icon-small-content-padding;
        }

        &.qodef-iwt-icon-medium .qodef-iwt-content-holder {
            padding-left: $icon-medium-content-padding;
        }

        &.qodef-iwt-icon-large .qodef-iwt-content-holder {
            padding-left: $icon-large-content-padding;
        }

        &.qodef-iwt-icon-huge .qodef-iwt-content-holder {
            padding-left: $icon-huge-content-padding;
        }
    }

    &.qodef-iwt-icon-right {
        text-align: right;

        .qodef-iwt-icon-holder {
            float: right;
        }

        &.qodef-iwt-icon-tiny .qodef-iwt-content-holder {
            padding-right: $icon-tiny-content-padding;
        }

        &.qodef-iwt-icon-small .qodef-iwt-content-holder {
            padding-right: $icon-small-content-padding;
        }

        &.qodef-iwt-icon-medium .qodef-iwt-content-holder {
            padding-right: $icon-medium-content-padding;
        }

        &.qodef-iwt-icon-large .qodef-iwt-content-holder {
            padding-right: $icon-large-content-padding;
        }

        &.qodef-iwt-icon-huge .qodef-iwt-content-holder {
            padding-right: $icon-huge-content-padding;
        }
    }

    &.qodef-iwt-left-from-title {
        .qodef-iwt-icon-title-holder {
            margin-bottom: 15px;
        }

        .qodef-iwt-icon-holder {
            margin-right: 7px;
        }

        .qodef-iwt-icon-holder,
        .qodef-iwt-title-holder {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.qodef-iwt-right-from-title {
        .qodef-iwt-icon-title-holder {
            margin-bottom: 15px;
        }

        .qodef-iwt-icon-holder {
            margin-left: 7px;
        }

        .qodef-iwt-title-holder{
            margin-bottom:0;
        }

        .qodef-iwt-icon-holder,
        .qodef-iwt-title-holder {
            display: inline-block;
            vertical-align: middle;
        }
    }
}